extends layout

block content
    div.grid-container
        div.desktop-spacing.hide-on-mobile
        div.mobile-spacing.hide-on-desktop
        textarea(rows="36" name="letter" maxlength="2500").hide-on-mobile.grid-60.prefix-20.suffix-20#letter-desktop
        textarea(rows="18" name="letter" maxlength="2500").hide-on-desktop.mobile-grid-90.mobile-prefix-5.mobile-suffix-5#letter
        div.grid-50.prefix-25.suffix-25#tag-list
        div.mobile-grid-50.grid-20.prefix-40.suffix-40
            input(type="text" name="tags" placeholder="enter tags").tm-input.typeahead#search-bar
        button(type="submit").mobile-prefix-10.mobile-grid-40.grid-15.prefix-35.btn#throw into the sea!
        button(type="submit").mobile-suffix-5.mobile-grid-40.grid-15.btn#burn burn letter!