extends layout

block content
    div.grid-container#test
        div.desktop-spacing.hide-on-mobile
        div.mobile-spacing.hide-on-desktop
        textarea(rows="38" name="letter" maxlength="2500").hide-on-mobile.grid-70.prefix-15.suffix-15#letter-desktop
        textarea(rows="17" name="letter" maxlength="2500").hide-on-desktop.mobile-grid-80.mobile-prefix-10.mobile-suffix-10#letter
        // input(type="text" placeholder="tags").mobile-grid-50.grid-20.prefix-40#tags
        button(type="submit").mobile-prefix-10.mobile-grid-40.grid-15.prefix-35#throw into the sea!
        button(type="submit").mobile-suffix-5.mobile-grid-40.grid-15#burn burn letter!
