extends layout

block content
    // p.grid-100.mobile-grid-100#welcome Welcome to #{title}
    p.mobile-grid-100.grid-50.prefix-25.suffix-25.text.water-protection.
        Ever wanted to read a message in a bottle from someone else? Well, now you can. 
    p.mobile-grid-100.grid-50.prefix-25.suffix-25.text.water-protection.
        Click on "gather some bottles!" to search for bottled messages you would like to read. 

    p.mobile-grid-100.grid-50.prefix-25.suffix-25.text.water-protection
        |If composing anonymous works of art is more your thing, click
        |    "write your own message in a bottle", #tag it and then throw it
        |    out into the sea for someone else to find. 
        br
        | Or burn it, if you don't want anybody to find it. Ever.
    a(href="/read").mobile-grid-100.grid-30.prefix-35
        button.btn gather some bottles!

    a(href="/write").mobile-grid-100.grid-30.prefix-35
        button.btn write your own message in a bottle!