extends layout

block content
    div.water-protection.mobile-grid-100.grid-50.prefix-30.suffix-25
        p.mobile-grid-100.grid-100.text.
            Ever wanted to read a message in a bottle from someone else? Well, now you can. 
        p.mobile-grid-100.grid-100.text.
            Click on "gather some bottles!" to search for bottled messages you would like to read. 

        p.mobile-grid-100.grid-100.text
            | Want to write your own?
            br
            | Click "write your own message in a bottle", tag it and throw it
            | into the sea for someone else to find. 
            br
            | Or burn it, if you don't want anybody to find it. Ever.
        a(href="/about").mobile-grid-100.grid-100.text.linky
            | Link to obligatory About page.
    a(href="/read").mobile-grid-100.grid-30.prefix-35
        button.btn gather some bottles!
    a(href="/write").mobile-grid-100.grid-30.prefix-35
        button.btn write your own message in a bottle!
