extends layout

block content
    div.grid-container#test
        p.grid-100.mobile-grid-100#welcome Welcome to #{title}
        a(href="/read").mobile-grid-100.grid-30.prefix-35
            button.btn gather some bottles!
        a(href="/write").mobile-grid-100.grid-30.prefix-35
            button.btn write your own message in a bottle!
