extends layout

block content
    div.grid-container#test
        h1.grid-100.align-center.mobile-grid-100= title
        p.grid-100.mobile-grid-100 Welcome to #{title}
        a(href="/read").mobile-prefix-5.mobile-grid-40.mobile-suffix-10.grid-20.prefix-40.suffix-40.align-center
            button gather some bottles!
        a(href="/write").mobile-suffix-5.mobile-grid-40.grid-20.prefix-40.suffix-40.align-center
            button write your own message in a bottle!
