extends layout

block content
  h1= title
  p Welcome to #{title}
  textarea(name="letter")#letter
  input(type="text" placeholder="enter tags")#tags
  br
  button(type="submit")#throw throw bottle into the internautic sea!
  button(type="submit")#burn burn the letter to a crisp!
