doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/grid.css')
    link(rel='stylesheet', href='/stylesheets/tagmanager.css')

  body
    a(href="/")
        h1.grid-100.align-center.mobile-grid-100#title= title
    block content

    img(src="http://upload.wikimedia.org/wikipedia/en/2/24/Lenna.png" style="display: none;")#bottle-art

    div(style="position:absolute; top:0; left:0; z-index:-1; width:100%; height:100%;")#backgrounddiv
        canvas(style='background:4D9BCC;')#canvas1
 
    // div.footer.grid-100.mobile-grid-100.
    //     made by cobleigh & smeets

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js")
    script(type="text/javascript" src="/javascripts/paper.js")
    script(src="/javascripts/tagmanager.js")
    script(src="/javascripts/typeahead.js")

    script(src="/javascripts/bottle.js")
    script(type="text/paperscript" src="/javascripts/bottle-paper.js" canvas="canvas1")