doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/grid.css')
    link(rel='stylesheet', href='/stylesheets/tagmanager.css')
    link(rel='stylesheet', href='/stylesheets/jquery.growl.css')
    link(rel="shortcut icon" href="/bottle.ico")
  body
    a(href="/")
        h1.grid-20.prefix-40.align-center.mobile-grid-100#title= title
    div.grid-container#test
        block content
    canvas(style='background:4D9BCC; z-index: -1; position: absolute; top:0; left: 0; display: block;')#canvas1
    
 
    // div.footer.grid-100.mobile-grid-100.
    //     made by cobleigh & smeets

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js")
    script(src="/javascripts/jquery.autosize.min.js")
    script(src="/javascripts/jquery.growl.js")
        
    script(src="/javascripts/paper.js")
    script(type="text/paperscript" src="/javascripts/bottle-paper.js" canvas="canvas1")

    script(src="/javascripts/tagmanager.js")
    script(src="/javascripts/typeahead.js")

    script(src="/javascripts/bottle.js")
    script(src="/javascripts/jquery.total-storage.min.js")
