extends layout

block content
    div.grid-container#test
        h1.grid-100.align-center.mobile-grid-100= title
        p.grid-100.mobile-grid-100 Welcome to #{title}
        div.grid-50.prefix-25.suffix-25#tag-list
        div.mobile-prefix-25.mobile-grid-50.grid-20.prefix-40
            input(type="text" name="tags" placeholder="enter tags").tm-input.typeahead#search-bar
        button(type="submit").btn.mobile-prefix-35.mobile-grid-30.prefix-40.grid-20#search search
        div#results
