extends layout

block content
    div.grid-container
        div.mobile-grid-90.mobile-prefix-5.grid-60.prefix-35.suffix-25#tag-list
        div.mobile-grid-90.mobile-suffix-5.grid-25.prefix-35
            input(type="text" name="tags" placeholder="enter tags").tm-input.typeahead#search-bar
        button(type="submit").btn.mobile-prefix-5.mobile-grid-90.prefix-40.grid-20.suffix-40#search flask search
        div#results
