extends layout

block content
    div#hidden-until-bottle 
        div.letter-desktop-top(style="padding-left: 50px; padding-right: 50px").hide-on-mobile.tablet-grid-80.tablet-prefix-10.grid-60.prefix-20.suffix-20.original#found.
        div.letter-top.hide-on-desktop.hide-on-tablet.mobile-grid-90.mobile-prefix-5.original#found-mobile
        textarea(rows="14" name="letter" maxlength="2500" placeholder="add to the letter here").hide-on-mobile.tablet-grid-80.tablet-prefix-10.grid-60.prefix-20.suffix-20#letter-desktop
        textarea(rows="13" name="letter" maxlength="2500" placeholder="add to the letter here").hide-on-desktop.hide-on-tablet.mobile-grid-90.mobile-prefix-5.mobile-suffix-5#letter

        button(type="submit").mobile-prefix-10.mobile-grid-40.grid-25.prefix-25.btn#throw.
            throw back into the sea!
        button(type="submit").mobile-grid-40.grid-25.suffix-20.btn#burn.
            burn the letter!

    div#hidden-when-bottle
        div.mobile-grid-90.mobile-prefix-5.grid-60.prefix-35.suffix-25#tag-list
        p.mobile-grid-90.mobile-suffix-5.grid-20.prefix-40#notice.water-protection.
            no bottles found :(
        div.mobile-grid-90.mobile-suffix-5.grid-20.prefix-40.suffix-35
            input(type="text" maxlength="25" name="tags" placeholder="enter tags").tm-input.typeahead#search-bar
        button(type="submit").btn.mobile-prefix-5.mobile-grid-90.prefix-40.grid-20.suffix-40#search search
        div#results
