extends layout

block content
    div.grid-container#test
        h1.grid-100.align-center.mobile-grid-100= title
        p.grid-100.mobile-grid-100 Welcome to #{title}
        div.grid-50.prefix-25.suffix-25#tag-list
        div.mobile-grid-50.grid-20.prefix-40.suffix-40
            input(type="text" name="tags" placeholder="enter tags").tm-input.typeahead#search-bar
        button(type="submit").mobile-prefix-5.mobile-grid-40.mobile-suffix-10.grid-suffix-40.grid-20.prefix-40.align-center#search search
        div#results