extends layout

block content
    div.grid-container#test
        input(type="text" placeholder="search").mobile-prefix-25.mobile-grid-50.grid-20.prefix-40#search-bar
        button(type="submit").btn.mobile-prefix-35.mobile-grid-30.prefix-40.grid-20#search search
        div#results
        canvas#canvas
