body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.colorful {
    background: #F7BEEA;
}

.colorful-green {
    background:#BEF7CB;
}

#letter {
    resize: none
}
